# Virtual Environment
.venv/
.venv-x/
venv/
*.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor/IDE specific
.vscode/
.idea/

# Secrets
.env

# Build artifacts
build/
dist/
*.egg-info/

# Temporary files
*.log
*.tmp
launch.bat


.continue/mcpServers/searxng.yaml
.python-version
